body {
    background-color: #dad9d3;
}

#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para el contenedor principal */
.container {
    background-color: #f8f9fa;
}

/* Centrar contenido */
.text-center {
    text-align: center;
}

/* Justificar texto */
.text-justify {
    text-align: justify;
}

/* Espacio entre los botones de opción */
.option-btn {
    margin: 5px;
}

/* Estilo de las imágenes de las señales de tránsito */
#traffic-sign {
    max-width: 300px; 
}

/* Ocultar contenedor del juego al inicio */
#game-container.d-none {
    display: none;
}

/* Estilos para el logo */
.logo {
    width: 100px;
}
